/* .form {
  text-align: center;
}
.login {
  background-color: blue;
  color: white;
  padding: 7px 30px;
  border-radius: 8px;
  border: none;
}
.signup {
  padding: 5px 27px;
  border-radius: 8px;
}
.address, .password{
padding: 5px 15px;
border-radius: 7px;
}
.loginBtn{
    padding: 5px 85px;
    border-radius:7px;
    background-color: blue;
    color: white;
} */